*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{background-color: #393939;}
header{
  width: 1682px;
  height: 934px;
  background-color: #191919;
}
.square{
  width: 43px;
  margin-top: -934px;
  margin-left: 80px;
}
.Name{
  position: relative;
  width: 600px;
  margin-top: -300px;
  margin-left: 160px;
}
.menu1{
  position: relative;
  width: 600px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: -7px;
}
.menu2{
  position: relative;
  width: 600px;
  margin-left: 70px;
  margin-top: 20px;
}
.menu3{
  position: relative;
  width: 600px;
  margin-left: 70px;
  margin-top: 15px;
  justify-content: center;
  display: center;
}

.main{
  width: 1286px;
  height: 761px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -650px;
  margin-left: 700px;
}

.text1{
  margin-top: 300px;
  display: flex;
  justify-content:center;
}

.wrap{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont1{
  width: 616px;
  height: 434px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}

.cont2{
  width: 634px;
  height: 434px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -7px;
}
.cont3{
  width: 616px;
  height: 434px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -2px;
}
.cont_total{
  width: 50%;
  height: 400px;
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 250px;
}

footer{
  margin-top: 100px;
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C5C5C5;
  font-family: 'Tahoma',sans-serif;
  font-size: 0.8em;
  letter-spacing: -0.03em;
}
